<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container" class="maxwidthcenter">
    <%- include header %>
    <%- include search_form %>
    <%- include footer %>
  </div>

<%- include scripts %>
  <!-- 

    This site, along with a number of other projects, is 100% open source:

    https://github.com/joemccann/geogram

  -->
</body>
</html>